body {
    background-image: url(../imagenes/fondo.jpg);
    background-size: cover;
}
.menu{
    align-self: flex-end;
}

.cantidad-container {
    display: flex;
    align-items: center;
  }
  
  button {
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
  }
  
  #cantidad {
    margin: 0 10px;
    font-size: 24px;
  }

  h1{
    color: #a5ff4c;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
  }
  .banner{
    background-color: rgb(19, 18, 18);
    color: #a5ff4c ;
    text-align: center;
  }
  footer{
    padding: 15px;
    margin: 5px;
    background-color: #52a102;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }
  .piepag{
    list-style: none;
    text-decoration: none;
    gap: 85px;
    display: flex;
    justify-content: space-around;
    align-self: baseline;
  }